fastapi==0.115.0
uvicorn[standard]==0.30.6

torch
transformers
accelerate
peft
bitsandbytes

sentencepiece
protobuf

python-dotenv

sentence-transformers
scikit-learn
numpy
pandas

nltk
rouge-score

tree-sitter
tree-sitter-java
tree-sitter-python

langchain
langchain-groq
langgraph

loguru
requests